* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color:white;
    background-image: url("https://media.istockphoto.com/id/1130416046/video/bright-background.jpg?s=640x640&k=20&c=kqvqDMJk8FFAIqTLBuQHyDa2UJqOtwIpe6TWB8mYyF0=");
    /* position: relative; */
    width: 100%;
    position: absolute;
    
    
}


nav h1{
    /* background-color: rgb(83, 86, 86); */
    display:inline-block;
    /* float:left; */
    font-family:Arial, Helvetica, sans-serif; 
    padding: 0px; 
    font-size: large;

}


figure {
    background-image: url("https://ca.slack-edge.com/T04KLTMJP6F-U04M57UDMTM-eb627602d3bc-512");
    width: 90%;
    height: auto;
    /* max-height: max-content; */
    /* position:relative;
    float: left; */
    left: -90px;
    margin: 5%;
    padding: 13%;
    top: -75px;
    
}

nav a {

    text-align: right;
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 7px;
    font-size: large;
    margin: 0px;
    right: 20px;
    top: 50px;
    float: right;
    width: 10%;
    padding: 0%;
}


header {
    background-color:lightslategray;
    padding: 4%;
}

figure {
    /* padding: 20%; */
    
}


article {
    /* padding: 0%; */
    flex:10px;
    /* float: right; */
    right: -25px;
    /* position: relative; */
    top: -150px;
    font-size: large;
    /* background-color:lightslategray; */
    font-family: Arial, Helvetica, sans-serif;

}

.avatar {
    border-radius: 50%;
}
    

.header {
    background:transparent;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-small;

    
}

.header h1 {
    /* display: inline-block;
    margin-left: 20px;
    float: left; */
}

.project1{
    width: 100%;
}

.smart-goals, .triangle, .business-plan, .comparative {
    display: inline;
    /* position: relative;
    float: middle; */
    width: 33%;
    right: 6px;
    margin: 1px;
    top: -0px;

}

section {
    width: 100%;
    /* position: relative;
    float:right; */
    right: -100px;
    top: 10px;
}

main {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    padding: 3%;
    margin: 0%;
    background-color:lightslategray;
    font-family:Arial, Helvetica, sans-serif;
    display: relative;
    
   
    
    
    
}

@media screen and (max-width: 1200px){
    colums: {
        width: 50%;
    }
}
    
    
/* .smart-goals, .triangle, .blue-graph, .business-plan, {
    width: 10%;
    display: relative;
    float:none;
    right: 50px;
    top: 0px;
    
} */




/* .Lanrepic {
    height: 800px;
    width: 100%;
    background-image: url("https://ca.slack-edge.com/T04KLTMJP6F-U04M57UDMTM-2ae09ffef6c7-512");
    background-size: cover;
    background-position: center;

} */